<!-- Credits to https://codepen.io/ancaspatariu/pen/WpQYOP -->

<div class="carousel" id="{{ include.id }}">
  <ul class="slides">
    {% for image in include.images %}
    <input type="radio" name="{{ include.id }}" id="{{ image.id }}" checked />
    <li class="slide-container">
      <div class="slide-image">
        <img src="{{ image.url }}">
      </div>
      <div class="carousel-controls">
        <label for="{{ image.prev }}" class="prev-slide">
          <span>&lsaquo;</span>
        </label>
        <label for="{{ image.next }}" class="next-slide">
          <span>&rsaquo;</span>
        </label>
      </div>
    </li>
    {% endfor %}
    <div class="carousel-dots">
      {% for image in include.images %}
      <label for="{{ image.id }}" class="carousel-dot" id="{{ image.id }}-dot"></label>
      {% endfor %}
    </div>
  </ul>
</div>

<script>
  $(window).on("load", () => {
    var slides = $('#{{ include.id }}').children().children()
    var n = slides.length
    var maxHeight = 0
    for (var i = 0; i < (n - 1) / 2; ++i) {
      var slideImage = slides.eq(i * 2 + 1).children().eq(0).children()
      maxHeight = Math.max(maxHeight, slideImage.height())
    }
    maxHeight += 160
    $('#{{ include.id }}').children().css('height', `${maxHeight}px`)
    $('#{{ include.id }}').find('.carousel-controls').css('line-height', `${maxHeight}px`)
  })
</script>