{% if site.comments %}
    <aside id="comments" class="disqus">
    	<div class="container">
    		<h3 class="alignable pull-left"></h3> <h3 class="alignable pull-right"> <i class="icon-disqus"></i></h3>
    		<!--
    	  		Copy the universal code from Disqus. In particular, the div with id #disqus_thread and the following Javascript
    			As an Example see below.
    			Start here
    	   	-->
            <div id="disqus_thread"></div>
            <script>            

                var disqus_shortname = 'daniellimws-github-io';
                var disqus_identifier = '{{ page.id }}';
                var disqus_title = '{{ page.title }}';
                var disqus_url = 'https://daniellimws.github.io{{ page.url }}';

                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
      
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><!--
    	  		End here
    	  	-->
    </aside>
{% endif %}
