@charset "utf-8";
@import "reset";
@import "vars";
@import "typography";
@import "rrssb";

html {
	height: 100%;
    margin: 0;
    padding: 0;
}
body {
    //-webkit-font-smoothing: antialiased;
    font-family: $font-stack-two;
    height: 100%;
    overflow: auto;
    background: $bg-color;
}
img[alt="smallimg"] {
    max-width: 600px;
    margin: auto;
    display: block;
}
.site-name {
    color: $accent-color;
}
.faded {
    color: $light-color;
    font-weight: lighter;
}
.page-suggestion {
    @media (max-width: $break-medium) {
        text-align: center;
        a {
            display: block;
            float: none;
            margin: $base-spacing 1.3px;
        }
    }
}

h2 {
    padding-top: $base-spacing/4;
    font-family: $font-stack-one;
}
h3 {
    padding-top: $base-spacing/4;
    font-family: $font-stack-one;
}
h4 {
    padding-top: $base-spacing/4;
    font-family: $font-stack-one;
}
h5 {
    padding-top: $base-spacing/4;
    font-family: $font-stack-one;
}

pre {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
}

/* Intro
* * * * * * * * * * * */
#intro {
    color: darken($accent-color, 40);
    font-weight: ligher;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: $font-stack-one;
    @media (max-width: $break-small) {
        height: 100%;
        font-size: 17px;
    }
    span {
        padding: 0.05em 0.5em;
        border-radius: 15px;
        background: $accent-color;
        color: #fff;
    }
    ::selection {
        color: #fff;
        background: #000;
    }
    h2 {
        margin: $base-spacing 0;
        margin-bottom: $base-spacing/1.1;
        font-size: 40px;
        font-family: $font-stack-one;
        @media (max-width: $break-small) {
            font-size: 32px;
        }
    }
}
#intro-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid transparent;
}

#ctf-intro {
    color: darken($accent-color, 40);
    font-weight: lighter;
    font-size: 20px;
    font-family: $font-stack-two;

    .container {
        border-left: 10px solid $accent-color;
    }

    @media (max-width: $break-small) {
        font-size: 17px;
    }
    span {
        padding: 0.05em 0.5em;
        border-radius: 15px;
        background: $accent-color;
        color: #fff;
    }
    ::selection {
        color: #fff;
        background: #000;
    }
    h2 {
        margin-bottom: $base-spacing/3;
        font-size: 40px;
        font-family: $font-stack-one;
        @media (max-width: $break-small) {
            font-size: 32px;
        }
    }
}

#notes-intro {
    color: darken($accent-color, 40);
    font-weight: lighter;
    font-size: 20px;
    font-family: $font-stack-two;

    .container {
        border-left: 10px solid $accent-color;
    }

    @media (max-width: $break-small) {
        font-size: 17px;
    }
    span {
        padding: 0.05em 0.5em;
        border-radius: 15px;
        background: $accent-color;
        color: #fff;
    }
    ::selection {
        color: #fff;
        background: #000;
    }
    h2 {
        margin-bottom: $base-spacing/3;
        font-size: 40px;
        font-family: $font-stack-one;
        @media (max-width: $break-small) {
            font-size: 32px;
        }
    }
}

/* Links
* * * * * * * * * * * */


.disabled:hover {
    color: inherit;
    background: inherit;
}
.hide {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
    padding: 0;
}
a:hover {
    text-decoration: none;
    color: $accent-color;
}
.underline {
    border-bottom: 2px solid $underline-color;
}
.underline:hover {
    color: inherit;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    border-bottom: 2px solid $accent-color;
}
.button {
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    padding: $base-spacing/4 $base-spacing;
    color: $normal-text-color;
}
.button:hover {
    background: $accent-color;
    color: #fff;
    -webkit-transition: 0.3s ease;
}
.rrssb-buttons {
    margin: $base-spacing 0;
}
.different-highlight {
    color: inherit;
}
.different-highlight:hover {
    color: $accent-color;
}

/* Structure
 * * * * * * * * * * * */

.wrapper {
    min-height: 100%;
    margin-bottom: -$footer-size;
}
.wrapper:after {
    content: "";
    display: block;
}
footer, .wrapper:after {
    height: $footer-size;
}
footer {
    div {
        padding: $base-spacing/2.5;
        margin: 0px;
    }
    h2 {
        font-size: 20px;
        font-weight: lighter;
    }
    color: $normal-text-color;
}

.site-name {
    font-size: 35px;
}
.intro {
    text-align: center;
    margin: auto;
    font-size: 30px;
    font-family: $font-stack-one;
}
.container {
    max-width: $max-width;
    margin: auto;
    padding: $base-spacing;
}
.post-preview {
    font-family: $font-stack-two;
    display: block;
    width: 100%;
    margin: $base-spacing 0;
    .post-title {
        font-size: 25px;
        margin-top: $base-spacing/8;
        margin-bottom: $base-spacing/3;
    }
    .post-time {
        color: $medium-gray-color;
    }
    @media (max-width: $break-medium) {
        .post-time {
            margin-top: $base-spacing/2;
            display: block;
            float: none;
        }
        .post-title {
            display: block;
            float: none;
        }
        margin: $base-spacing*1.1 0;
    }
}
.ctf-preview {
    font-family: $font-stack-two;
    display: block;
    width: 100%;
    margin: $base-spacing 0;
    .ctf-title {
        font-size: 25px;
        margin-bottom: $base-spacing/3;
        font-weight: bold;
        font-family: $font-stack-one;
    }
    .ctf-time {
        color: $medium-gray-color;
    }
    @media (max-width: $break-medium) {
        .ctf-time {
            margin-top: $base-spacing/2;
            display: block;
            float: none;
        }
        .ctf-title {
            display: block;
            float: none;
        }
        margin: $base-spacing*1.1 0;
    }
}
.note-list {
    font-family: $font-stack-two;
    display: block;
    width: 100%;
    margin-top: $base-spacing;
    .note-group {
        -webkit-transition: background 0.2s linear;
        transition: background 0.2s linear;
        // background: #f9f9f9;
        // padding: $base-spacing;
        // margin-bottom: $base-spacing;
        // border-radius: $base-spacing/8;

        .note-title {
            font-family: $font-stack-one;
            font-size: 25px;
            margin-bottom: $base-spacing/2;
            font-weight: bold;
        }
        ul {
            // max-height: 0;
            list-style-position: inside;
            margin-left: $base-spacing / 2;
            margin-top: $base-spacing / 2;
            margin-bottom: $base-spacing;
            overflow-y: hidden;
            transition: max-height 0.08s ease-out;
            li {
                padding-bottom: $base-spacing / 3;
            }
        }
        @media (max-width: $break-medium) {
            .note-title {
                display: block;
                float: none;
            }
            margin: $base-spacing*1.1 0;
        }
    }
    // .note-group:hover {
    //     background: #f9f9f9;
    //     padding: $base-spacing;
    //     margin-bottom: $base-spacing;
    //     border-radius: $base-spacing/8;
    //     ul {
    //         max-height: 1000px;
    //         overflow: hidden;
    //         transition: max-height 0.4s ease-in;
    //     }
    // }
}
.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}

/* Navbar
 * * * * * * * * * * * */

.navbar {
    margin: auto;
    padding: $base-spacing $base-spacing;
    width: 100%;
    min-height: 70px;
    //background-color: $accent-color;
}
.nav-link {
    padding: 0 $base-spacing/2;
}
.back-outer {
    text-align: center;
    width: $big-circle-size;
    height: $big-circle-size;
    //border: 2px solid #000;
    border-radius: $big-circle-size;
    background-color: #000;
    padding: 0;
}
.back-inner {
    height: 24px;
    width: 24px;
    margin: 3px 3px;
    border: 2px solid #fff;
    border-radius: 24px;
    background: #fff;
}
.back-inner:hover {
    background: #000;
}

/* Paginate
* * * * * * * * * * * */
.pagination {
    div {
        width: 31%;
        display: inline-block;
    }
    padding: inherit 2px;
    @media (max-width: $break-small) {
        padding: 0 2px;
        .button {
            margin: 2px 0;
        }
        margin-bottom: 10px;
    }
}

/* Post
* * * * * * * * * * * */

.post-date {
    font-family: $font-stack-two;
    font-weight: semibold;
}

/* Styling
 * * * * * * * * * * */
hr {
    border-top: 0.5px solid $underline-color;
}
.theme-footer {
    font-weight: lighter;
    font-size: 15px;
    color: $light-color;
    padding: $base-spacing;
}
.copyright {
    color: $medium-gray-color;
}

#img-about {
    margin: inherit $base-spacing;
    float: left;
}
.about-img {
    height: $about-image-size;
    width: $about-image-size;
    border-radius: $about-image-size;
    margin: $base-spacing/3 $base-spacing/5;
    margin-right: $base-spacing;
}
.no-image {
    @extend .about-img;
    height: $about-image-size/1.2;
    width: $about-image-size/1.2;
    border-radius: $about-image-size/1.2;
    background: $accent-color;
}
.about-stub {
    margin: 0 $base-spacing/2;
    padding: $base-spacing;
    font-weight: lighter;
    @media (max-width: $break-small) {
    }
}
